.root{
    -fx-background-color: #383838;
    -fx-font-size: 11pt;
}
.label{
    -fx-text-fill: #E8E8E8;
}
.button{
    -fx-background-color: linear-gradient(#dc9656, #ab4642);
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}
.button-blue{
    -fx-background-color: linear-gradient(#7cafc2, #ab4642);
    -fx-text-fill: #FFFFFF;
    -fx-background-radius: 4;
}
#bold-label{
    -fx-font-weight: bold;
}
